/* Variables */

$color-one: #bea67c;
$color-light: #fff;
$color-dark: #000;

$font-one: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$font-italic: italic;