.contact-form {
  margin-top: -50px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: $font-semibold;

  input{
    height: 40px;
    width: 300px;
    border: 2px solid $color-dark;
  }

  textarea{
    width: 300px;
    height: 80px;
    resize: none;
    border: 2px solid $color-dark;
  }

  button{
    padding: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: $font-semibold;
    color: $color-light;
    background-color: $color-one;
    width: 160px;
  }
}